# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\thoma\Documents\Cphbusiness-Lyngby-Softwareudvikling\Exploration-And-Presentation-UFO\Assignment-3-Optimization\letterfrequencies-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
